@charset "utf-8";
/* CSS Document */
body{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}
/*Masthead*/
header.masthead{
	background: url('../img/hinh-nen-may-tinh-don-gian-4.jpg');  
	background-size:cover;
	padding-top: 9rem;
	padding-bottom: 9rem;
	
}
header.masthead h1{
	font-size: 2.5rem;
}
header.masthead.overlay{
	height: 100%;
	weight: 100%;
	border: 0;
}
/*Icons Grid*/
.features-icons{
	padding-top: 7rem;
	padding-bottom: 7rem;
}
.features-icons .features-icons-item{
	max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon{
	height: 7rem;
}
.features-icons .features-icons-item .features-icons-icon i{
	font-size: 80px;
	
}
/*Image Showcases*/
.showcase .showcase-text {
    padding: 3rem;
}
.showcase .showcase-img {
    min-height: 30rem;
}
/*Testimonials*/
.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem
}
.testimonials .testimonial-item {
    max-width: 18rem
}
.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0 5px 5px 0
}
/*Call to Action*/
.call-to-action{
	background: url('../img/hinh-nen-may-tinh-don-gian-4.jpg');  
	background-size:cover;
	padding-top: 8rem;
	padding-bottom: 8rem;
	
}
.call-to-action .overlay{
	height: 100%;
	weight: 100%;
	border: 0;
}
/*Footer*/
footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem
}